.container{
	opacity:0.95
}

.articleInfo{
	text-align:center
}

.articleTitle{
	font-size:30px;
}

.articleContent{
	font-size:20px;
}

.input-group{
	margin-bottom:20px
}

.commentShow{
	font-size: 20px;
}

.nametime{
	color:#9E9E9E;
}