.spanStyle{
	font-size:14px;
	color: #f00;
}

.articlelist,.ranklist{
	margin-top: 10px;
	padding:0;
	opacity:0.9
}

.nav{
	opacity:0.9
}


.articletable td, .articletable th {
	text-align: center
}