body{
	background-image :url(../img/background.png);
	background-size:cover; 
}

.container{
	opacity:0.95
}

.panel{
	padding:0;
	text-align:center
}

.errorMsg{
	display: none;
	color: red;
}